.p-backpack {
  margin-inline: auto;
  /*TODO: more robust solution for restricting backpack height*/
  max-width: 100vh;
  padding: 2rem;
}

.project {
  color: red;
}

.project--one {
  color: red;
}

.project--two {
  color: green;
}

.project--three {
  color: blue;
}

.p-backpack__body {
  display: flex;
  gap: 2rem;
}

.p-backpack__projects {
  flex: 1;
}

.p-backpack__backpack {
  flex: 2;
}

.backpack__grid {
  padding: 1rem;
  display: grid;
  background: grey;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
